*{
    box-sizing: border-box;
}


* {
  box-sizing: border-box;
  margin: 0 auto;
  background-image: linear-gradient(90deg, #778899, #787878);
}
body{
    background-color: teal;
    margin: 0;
    box-sizing: border-box;
    align-content: center;
}